<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luoyunfan.dao.ITimuDao">
	<resultMap id="timuMap" type="com.luoyunfan.entity.Timu">
		<id column="timu_id" property="timu_Id" jdbcType="VARCHAR" />

		<!-- jdbcType和javaType只是用于在ResultMapping中选择类型处理器，如果不设置这两个参数，也会推导出对应的 jdbcType和javaType -->
		<result column="timu_cont" property="timu_Cont" jdbcType="VARCHAR" />
		<result column="da_a" property="da_A" jdbcType="VARCHAR" />
		<result column="da_b" property="da_B" jdbcType="VARCHAR" />
		<result column="da_c" property="da_C" jdbcType="VARCHAR" />
		<result column="da_d" property="da_D" jdbcType="VARCHAR" />
		<result column="da_r" property="da_R" jdbcType="VARCHAR" />
		
	</resultMap>
	<select id="timuSearchAll" resultMap="timuMap">
		select * from timu 
	</select>
	<select id="serachTimuByCondition" resultMap="timuMap">
		select * from timu where timu_id = #{id}
	</select>
	<insert id="addTimu"><!--  useGeneratedKeys="true" keyProperty="stuID" -->
		<selectKey keyProperty="timu_Id" order="AFTER" resultType="java.lang.String">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into timu (timu_id,timu_cont,da_a,da_b,da_c,da_d,da_r)
		values(#{timu_Id},#{timu_Cont},#{da_A},#{da_B},#{da_C},#{da_D},#{da_R})
	</insert>
	<delete id="delTimu">
		delete from timu where timu_id = #{id}
	</delete>
	<update id="ChangeTimu">
		update timu set
		timu_cont = #{timu_Cont},
		da_a = #{da_A},
		da_b = #{da_B},
		da_c = #{da_C},
		da_d = #{da_D},
		da_r = #{da_R} 
		where timu_id = #{timu_Id}
	</update>
	 
	<!-- 多个题号查询题目 -->
	<select id="searchById" resultMap="timuMap">
			select * from timu t1
			<where>
				<foreach collection="list" item="id" separator="or">
					t1.timu_id=#{id}
				</foreach>
			</where>
	</select>
</mapper>